# Notebook Title

## Setup Python and R environment
you can ignore this section

In [1]:
%load_ext rpy2.ipython
%load_ext autoreload
%autoreload 2

%matplotlib inline  
from matplotlib import rcParams
rcParams['figure.figsize'] = (16, 100)

import warnings
from rpy2.rinterface import RRuntimeWarning
warnings.filterwarnings("ignore") # Ignore all warnings
# warnings.filterwarnings("ignore", category=RRuntimeWarning) # Show some warnings

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML

In [2]:
%%javascript
// Disable auto-scrolling
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [3]:
%%R

# My commonly used R imports

require('tidyverse')

â”€â”€ Attaching core tidyverse packages â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ tidyverse 2.0.0 â”€â”€
âœ” dplyr     1.1.4     âœ” readr     2.1.5
âœ” forcats   1.0.0     âœ” stringr   1.5.1
âœ” ggplot2   3.5.1     âœ” tibble    3.2.1
âœ” lubridate 1.9.4     âœ” tidyr     1.3.1
âœ” purrr     1.0.4
â”€â”€ Conflicts â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ tidyverse_conflicts() â”€â”€
âœ– dplyr::filter() masks stats::filter()
âœ– dplyr::lag()    masks stats::lag()
â„¹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Loading required package: tidyverse

## ðŸ‘‰ download your data

You can write code here to download your dataset. Or if you already have it, just leave the URL in the comments and just load it into a pandas or R (or both) dataframe.

In [4]:
import pandas as pd
df=pd.read_csv('year_2023.csv')
df.head(10)

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2023,549300JOT0D4J0SZIK67,29460,FL,12105.0,12105012409.0,C,VA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,2570,43.15,74300,111.11,441,716,25
1,2023,549300JOT0D4J0SZIK67,29820,NV,32003.0,32003003228.0,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,7043,56.92,83900,109.65,1383,2057,15
2,2023,549300JOT0D4J0SZIK67,49420,WA,53077.0,53077003004.0,C,VA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,3044,19.02,76600,131.97,1031,1288,35
3,2023,549300JOT0D4J0SZIK67,28140,KS,20091.0,20091053803.0,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,4079,10.17,104400,166.18,1240,1341,37
4,2023,549300JOT0D4J0SZIK67,28420,WA,53005.0,53005010815.0,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,9675,26.74,101700,128.98,2474,2688,15
5,2023,549300JOT0D4J0SZIK67,40140,CA,6071.0,6071010415.0,C,FSA/RHS:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,5540,49.51,94500,62.21,965,2551,44
6,2023,549300JOT0D4J0SZIK67,31180,TX,48303.0,48303001401.0,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,2211,57.49,84300,84.46,378,1124,59
7,2023,549300JOT0D4J0SZIK67,46060,AZ,4019.0,4019004613.0,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Ethnicity Not Available,...,NaN,NaN,NaN,4017,44.29,86000,70.16,904,1475,30
8,2023,549300JOT0D4J0SZIK67,38860,ME,23005.0,23005004701.0,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,2154,5.43,108500,118.86,861,1527,44
9,2023,549300JOT0D4J0SZIK67,40900,CA,6017.0,6017031000.0,C,VA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,6314,26.27,113900,108.93,1738,2460,38

In [5]:
df.columns
# This will return column names containing 'loan' (case-insensitive)
# To see all columns containing 'loan'
loan_columns = [col for col in df.columns if 'age' in col.lower()]
print("Columns containing 'age':")
print(loan_columns)

# To see all columns containing any specific term
def search_columns(df, search_term):
    return [col for col in df.columns if search_term.lower() in col.lower()]

# Example usage:
income_columns = search_columns(df, 'income')
print("\nColumns containing 'income':")
print(income_columns)

Columns containing 'age':
['reverse_mortgage', 'applicant_age', 'co-applicant_age', 'applicant_age_above_62', 'co-applicant_age_above_62', 'tract_to_msa_income_percentage', 'tract_median_age_of_housing_units']

Columns containing 'income':
['income', 'debt_to_income_ratio', 'ffiec_msa_md_median_family_income', 'tract_to_msa_income_percentage']

In [6]:
selected_columns = [
  'activity_year',
  'lei',
  'state_code',
  'county_code',
  'census_tract',
  'applicant_race-1',
  'applicant_race-2',
  'co-applicant_race-1',
  'co-applicant_race-2',
  'applicant_sex',
  'co-applicant_sex',
  'applicant_sex',
  'co-applicant_sex',
  'applicant_age',
  'co-applicant_age',
  'loan_type',
  'derived_loan_product_type',
  'loan_purpose',
  'derived_dwelling_category',
  'total_units',
  'business_or_commercial_purpose',
  'occupancy_type',
  'income',
  'loan_amount',
  'total_loan_costs',
  'property_value',
  'debt_to_income_ratio',
  'action_taken',
  'interest_rate',
  'lender_credits',
  'loan_term',
  'denial_reason-1',
  'denial_reason-2',
  'denial_reason-3',
  'denial_reason-4',
]

df_selected = df[selected_columns]

# Display the first 10 rows
df_selected.head(10)
# Replace 8888 and 9999 with NA in the age column
df_selected ['applicant_age'] = df_selected['applicant_age'].replace([8888, 9999], pd.NA)
df_selected['co-applicant_age'] = df_selected['co-applicant_age'].replace([8888, 9999], pd.NA)

In [7]:
df_selected['loan_amount']

0           625000.0
1           235000.0
2           355000.0
3           345000.0
4           255000.0
              ...
11483884    625000.0
11483885    135000.0
11483886    485000.0
11483887    445000.0
11483888     85000.0
Name: loan_amount, Length: 11483889, dtype: float64

In [8]:
# Count all non-NaN values in the income column
non_nan_count = df_selected['income'].notna().sum()
total_rows = len(df_selected['income'])

print(f"Number of rows with non-NaN values: {non_nan_count}")
print(f"Total number of rows: {total_rows}")
print(f"Percentage of rows with values: {(non_nan_count/total_rows)*100:.2f}%")

# If you want to see the distribution of values
print("\nSummary statistics of non-NaN income values:")
print(df_selected['income'].describe())

Number of rows with non-NaN values: 9985406
Total number of rows: 11483889
Percentage of rows with values: 86.95%

Summary statistics of non-NaN income values:
count    9.985406e+06
mean     1.794139e+02
std      4.935454e+04
min     -1.280000e+05
25%      6.500000e+01
50%      1.000000e+02
75%      1.570000e+02
max      1.320000e+08
Name: income, dtype: float64

In [9]:
# Display rows where income is not NaN and not 0
non_zero_incomes = df_selected[
    (df_selected['income'].notna()) & 
    (df_selected['income'] != 0)
].head(10)  # Show first 10 rows, you can change this number

print("Sample of rows with non-zero, non-NaN incomes:")
print(non_zero_incomes[['income']])  # Just showing income column for clarity

# Also show some basic stats
print("\nQuick statistics:")
print(f"Total rows with non-zero, non-NaN incomes: {len(df_selected[(df_selected['income'].notna()) & (df_selected['income'] != 0)])}")
print("\nValue distribution:")
print(df_selected[df_selected['income'] != 0]['income'].describe())

Sample of rows with non-zero, non-NaN incomes:
      income
5972   111.0
5973   109.0
5976    58.0
5978   250.0
5979  1306.0
5980    48.0
6223    14.0
6236    52.0
6560    98.0
6625   100.0

Quick statistics:
Total rows with non-zero, non-NaN incomes: 9902713

Value distribution:
count    9.902713e+06
mean     1.809121e+02
std      4.956017e+04
min     -1.280000e+05
25%      6.500000e+01
50%      1.000000e+02
75%      1.570000e+02
max      1.320000e+08
Name: income, dtype: float64

In [9]:
df_selected.to_csv('selected_data.csv', index=False)

## ðŸ‘‰ convert addresses --> lat/long 

See the [census-examples](https://github.com/data4news/census-examples) repository for examples. If you need help, try asking in the class slack channel. Chances are someone in the class is struggling with the same problem as you are so we might as well all learn together in the same slack channel!

## ðŸ‘‰ convert lat/long to census geography codes 

(like 'GEOID', 'STATE', 'COUNTY', 'TRACT', 'BLOCK', etc...)

Same note as above, see [census-examples](https://github.com/data4news/census-examples) repository for examples or ask in the class slack channel if stuck.

## ðŸ‘‰ Output Data

Output your dataframe containing your data and the Census connector codes (like tract, block, etc...).

## the data already has census tract